body{
    display:flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.section-one{
    background-color:#1F2937;
}

.section-three{
    background-color: #e5e7eb;
}