body{
    display:flex;
    flex-direction:column;
    font-family: Helvetica, sans-serif
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.header{
    background-color:#1F2937;
    color: #eee;
    display:flex;
}

.section-one{
    background-color:#1F2937;
    color: #eee;
}

.section-three{
    background-color: #e5e7eb;
}